<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXoeO-8cwvf2JKTXiQOiBN4O4EWT3c5kk</string>
	<key>GCM_SENDER_ID</key>
	<string>210723450216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelingPartner</string>
	<key>PROJECT_ID</key>
	<string>traveling-partner</string>
	<key>STORAGE_BUCKET</key>
	<string>traveling-partner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210723450216:ios:ce4519a4e228a590bc7add</string>
</dict>
</plist>